<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>yingyongshike</string>
		<key>title</key>
		<string>应用试客</string>
		<key>info</key>
		<string>加入送1元，单价高，微信提现</string>
		<key>actor</key>
		<string>427391人加入</string>
		<key>urlStr</key>
		<string>http://shike.com/i/AVryem</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>qianka</string>
		<key>title</key>
		<string>钱咖</string>
		<key>info</key>
		<string>加入送2元，单价高，任务多</string>
		<key>actor</key>
		<string>412284人加入</string>
		<key>urlStr</key>
		<string>https://xiaoxiao517.com/?u=52191597</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>xiaoyuzhuanqian</string>
		<key>title</key>
		<string>小鱼赚钱</string>
		<key>info</key>
		<string>加入送1元，任务多，3元提现</string>
		<key>actor</key>
		<string>387763人加入</string>
		<key>urlStr</key>
		<string>http://wx.xy599.com/share.php?id=18361666</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>pp</string>
		<key>title</key>
		<string>PP红包</string>
		<key>info</key>
		<string>加入送1元，任务多，提现快</string>
		<key>actor</key>
		<string>368748人加入</string>
		<key>urlStr</key>
		<string>http://pphongbao.com/?random=1122&amp;r=825339982</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>imoney</string>
		<key>title</key>
		<string>爱盈利</string>
		<key>info</key>
		<string>单价0.5-1元，任务多，提现快</string>
		<key>actor</key>
		<string>3526124人加入</string>
		<key>urlStr</key>
		<string>http://www.eimoney.com/diamonds/mobile/SojzadtpZqJTtCyBEtKp/3011490/link2</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>diaoqianyaner</string>
		<key>title</key>
		<string>掉钱眼儿</string>
		<key>info</key>
		<string>加入送0.5元，单价高</string>
		<key>actor</key>
		<string>337829人加入</string>
		<key>urlStr</key>
		<string>http://tg.topasm.com?u=7472401&amp;e=012</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>doudou</string>
		<key>title</key>
		<string>豆豆趣玩</string>
		<key>info</key>
		<string>加入送5元，任务多</string>
		<key>actor</key>
		<string>312123人加入</string>
		<key>urlStr</key>
		<string>http://web.123bo.com/webapp/ddquwan/index/ios?sfrom=ios&amp;id=10634544</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>rehulu</string>
		<key>title</key>
		<string>热葫芦</string>
		<key>info</key>
		<string>加入送1.5元，任务多</string>
		<key>actor</key>
		<string>309491人加入</string>
		<key>urlStr</key>
		<string>http://m.rhl9.cn?u=11771044</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>miaozhuan</string>
		<key>title</key>
		<string>秒赚</string>
		<key>info</key>
		<string>加入送1元，任务多</string>
		<key>actor</key>
		<string>284172人加入</string>
		<key>urlStr</key>
		<string>http://m.apptry100.cn/?u=19313535</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>shiyongbao</string>
		<key>title</key>
		<string>试用宝</string>
		<key>info</key>
		<string>加入送1元，任务多</string>
		<key>actor</key>
		<string>77903人加入</string>
		<key>urlStr</key>
		<string>http://www.shiyongapp.com/guide/14080589</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>qiandashi</string>
		<key>title</key>
		<string>钱大师</string>
		<key>info</key>
		<string>加入送3元，任务多</string>
		<key>actor</key>
		<string>267391人加入</string>
		<key>urlStr</key>
		<string>http://m.moneyds.com/user/inviteu/80968554.html</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>hongbaodaren</string>
		<key>title</key>
		<string>红包达人</string>
		<key>info</key>
		<string>加入送1元，任务多</string>
		<key>actor</key>
		<string>256292人加入</string>
		<key>urlStr</key>
		<string>http://wx.cafame.cn/?u=2885365</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>tiantianqianzhuang</string>
		<key>title</key>
		<string>天天钱庄</string>
		<key>info</key>
		<string>加入送1元，任务多</string>
		<key>actor</key>
		<string>248419人加入</string>
		<key>urlStr</key>
		<string>http://app.ancloud.com.cn/install?fromuid=1751602</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>xiaozhuzhuanqian</string>
		<key>title</key>
		<string>小猪赚钱</string>
		<key>info</key>
		<string>加入送1元，任务多</string>
		<key>actor</key>
		<string>241617人加入</string>
		<key>urlStr</key>
		<string>http://integral.xckoo.com/invite?uid=38781</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>didazhuan</string>
		<key>title</key>
		<string>嘀嗒钱</string>
		<key>info</key>
		<string>加入送1元，任务多</string>
		<key>actor</key>
		<string>2404781人加入</string>
		<key>urlStr</key>
		<string>http://www.didazhuan.com/share.php?id=23730</string>
	</dict>
</array>
</plist>
